h1 {
    color: blue;
    text-align: center;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

th {
    text-align: left;
    padding-right: 5px;
}

td {
    padding-bottom: 15px;
    padding-top: 15px;
}

.error-message {
    color: red;
    font-weight: bold;
}